# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr
out
*.local
tsconfig.tsbuildinfo

# env
.env
.env.*
!.env.example

# editor / OS
.vscode
.idea
.DS_Store
*.log
*.sw?

# capacitor native build artifacts
/android
/ios
